.list {
  position: relative;
  margin: 2px;
  z-index: 9;
  top: 5px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.small {
  width: 125px;
}

.large {
  width: 205px;
}

.list-item {
  background-color: #2c3e50;
  color: #f3f7f8;
  font-size: 20px;
  padding: 5px 2px 0 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.list-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.list-item:hover {
  background-color: #21c2f8;
  color: #bdc3c7;
}
