.header-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    grid-gap: 20px;
    align-items: center;
    margin: 10px;
    font: 'Tajawal';
}

.app-name {
    font-size: 40px;
    color: #21c2f8;
    margin-top: 10px;
    /* align-self: center; */
}

.user-name {
    margin-top: 8px;
    font-size: 28px;
    color: #21c2f8;
}

.nav {
    /* justify-self: end; */
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
}

.button {
    display: grid;
    margin: 5px;
    width: 100px;
    height: 26px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 6px;
    border-radius: 4px;
}

.button:hover {
    background-color: rgba(33,194,248, 0.6);
    border-radius: 4px;
    box-shadow: 3px 3px rgba(33,194,248, 0.2);
    color: #202020;
}

a {
    display: grid;
    text-decoration: none;
    color: #21c2f8;
    font-size: 20px;
}