.project-list {
  position: relative;
  margin: 2px;
  width: 200px;
  z-index: 9;
  top: 5px;
  border: 1px double #2c3e50;
  border-radius: 2px; 
}

.list-item {
  background-color: #bdc3c7;
  font-size: 20px;
  padding: 3px 2px 0 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.list-item:hover {
  background-color: #21c2f8;
  color: white;
}



