.right-dashboard-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto repeat(6, 1fr);
  height: 100%;
}

/* .dashboard-button {
    display: grid;
    margin: 5px;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    background: ${props => props.theme.teal};
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    padding: 10px 4px 2px 4px;
    justify-self: center;
    align-self: center;
    font-size: 18px;
} */

.current-component-title {
  border-bottom: 1px solid black;
  display: grid;
  justify-items: center;
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/
  padding-bottom: 6px;
  padding-top: 10px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
